@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

body {
    background: #c7e5f1;
    color: #0f1213;
    font-family: 'Poppins', sans-serif;
    padding-top: 40px;
}

h1 {
    font-size: 42px;
}

#Login{
    position:absolute;
    width:15%
}

#Signup{
    position:absolute;
    width:15%;
    left:20%;
}

input[type="text"],input[type="password"]{
    width:300px;
}
tr, th, td, table {
    border-collapse: collapse;
    border: 1px solid black;
    rules: row;
    align-items: left;
    margin-top: 30px;
}
th {
    font-size: 20px;
}
td {
    padding: 10px;
    text-align: left;
}
table {
    margin-left: 25px;
    margin-right: 25px;
}

#loginindicator, #signupindicator {
    visibility: hidden;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(66, 74, 78);
    position: fixed;
    top: 0;
    width: 100%;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none; 
}
  
li a:hover {
    background-color: #111;
}
  
.active {
    background-color: rgb(165, 59, 59);
}