@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

body {
    background: #c7e5f1;
    color: #0f1213;
    font-family: 'Poppins', sans-serif;
}

#Login{
    position:absolute;
    width:15%
}

#Signup{
    position:absolute;
    width:15%;
    left:20%;
}

input[type="text"],input[type="password"]{
    width:300px;
}


