@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

body {
    background: #e8e8e8;
    color: rgb(32, 86, 134);
    font-family: 'Poppins', sans-serif;
    padding-top: 40px;
}

h1 {
    font-size: 42px;
}

#Login{
    position:absolute;
    width:15%
}

#Signup{
    position:absolute;
    width:15%;
    left:20%;
}

tr, th, td, table {
    border-collapse: collapse;
    border: 1px solid rgb(32, 86, 134);
    align-items: left;
    margin-top: 30px;
}
th {
    font-size: 20px;
}
td {
    padding: 10px;
    text-align: left;
}
table {
    margin-left: 25px;
    margin-right: 25px;
}

#failedlogin, #failedsignup {
    visibility: hidden;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #aaaaaa;
    position: fixed;
    top: 0;
    width: 100%;
}
  
li {
    float: left;
}

li a {
    display: block;
    color: #013F7D;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none; 
}
  
li a:hover {
    background-color: #f4f4f4;
}
  
.active {
    background-color: #e8e8e8;
}

textarea {
    padding: 5px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #aaaaaa;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

textarea:focus {
    border: 3px solid #587795;
}

input[type="text"],input[type="password"] {
    width: 280px;
    padding: 5px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #aaaaaa;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

input[type="text"]:focus {
    border: 3px solid rgb(32, 86, 134);
}

input[type="password"]:focus {
    border: 3px solid rgb(32, 86, 134);
}

input[type="submit"] {
    margin: 8px;
    border: 3px solid rgb(32, 86, 134);
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 5px 10px;
    -webkit-transition-duration: 0.5s; /* Safari */
    transition-duration: 0.5s;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: rgb(92, 143, 177);
  }

input[type="submit"]:active {
    background-color: #e8e8e8;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

button[type="submit"] {
    margin: 8px;
    border: 3px solid rgb(32, 86, 134);
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 5px 10px;
    -webkit-transition-duration: 0.5s; /* Safari */
    transition-duration: 0.5s;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: rgb(92, 143, 177);
}

button[type="submit"]:active {
    background-color: #e8e8e8;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.to_be_displayed {
    font-size: 25px;
}

.bookmargin {
    margin-left: 1.5rem;
}

.user_book_lists {
    font-size: 30px;
}