
  <head>
    <title>Person Found</title>
    <link rel="stylesheet" type="text/css" href="/public/stylesheet.css">
    <title>{{book.Title}}>></title>
  </head>
  <main>
    <h1>{{book.Title}}</h1>
    <h2>{{book.Author}}</h2>
    <img src={{book.Image}} alt="Book">
  </main>
