
  <head>
    <title>Person Found</title>
    <link rel="stylesheet" type="text/css" href="/public/stylesheet.css">
    <title>{{book.Title}}>></title>
    <nav>
    <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/logout">Logout</a></li>
    </ul>
    </nav>
  </head>
  <main>
    <h1>{{book.title}}</h1>
    <h2>{{book.author}}</h2>
    <img src={{book.imageUrl}} alt="Book"><br/>
    <button id="add">Add to Books to Read</button>
    <button id="complete">Add to Completed</button>
  </main>
