<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/public/stylesheet.css">
  <title>Login</title>
</head>
<body>
  <header>
  </header>
  <main>
    <h1>Welcome to our book database</h1>
    <div id="Login">
      <h2>Login</h2>
        <form action="/" onsubmit="login(); return false;">
          <label for="lusername">Username</label>
          <input type="text" name="username" id="lusername" placeholder="Username"/>
          <label for="lpassword">Password</label>
          <input type="password" name="password" id="lpassword" placeholder="Password"/>
          <input type="submit" value="Login"/>
        </form>
	<p id="failedlogin">Bad username or password.</p>
    </div>
    <div id="Signup">
      <h2>Signup</h2>
      <form action="/" onsubmit="signup(); signup(); return false;">
        <label for="susername">Username</label>
        <input type="text" name="username" id="susername" placeholder="Username"/>
        <label for="spassword">Password</label>
        <input type="password" name="password" id="spassword" placeholder="Password"/>
        <input type="submit" value="Signup" />
      </form>
      <p id="failedsignup">Username already exists</p>
    </div>
  </main>
  <script src="/public/ajax.js"></script>
</body>
