<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/public/stylesheet.css">
  <title>Login</title>
</head>
<body>
  <header>
  </header>
  <main>
    <div id="Login">
        <h1>Login</h1>
        <form action="/" onsubmit="login(); return false;">
            <label for="username">Username</label>
            <input type="text" name="username" id="lusername"/>
            <label for="password">Password</label>
            <input type="password" name="password" id="lpassword"/>
            <input type="submit" value="Login"/>
        </form>
    </div>
    <div id="Signup">
        <h1>Signup</h1>
        <form action="/" onsubmit="signup(); return false;">
            <label for="username">Username</label>
            <input type="text" name="username" id="susername"/>
            <label for="password">Password</label>
            <input type="password" name="password" id="spassword"/>
            <input type="submit" value="Signup" />
        </form>
    </div>
  </main>
  <script src="/public/ajax.js"></script>
</body>
