<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/public/stylesheet.css">
  <title>Login</title>
</head>
<body>
  <header>
  </header>
  <h1>
    Login
  </h1>
  <main>
    <form method="post" action="/" id="login-form">
      <label for="username">Username</label>
      <input type="text" name="username" id="username"/>
      <label for="password">Password</label>
      <input type="password" name="password" id="password"/>
      <input type="submit" value="Login" />
    </form>
    <form method="post" action="/" id="signup-form">
      <label for="username">Username</label>
      <input type="text" name="username" id="username"/>
      <label for="password">Password</label>
      <input type="password" name="password" id="password"/>
      <input type="submit" value="Signup" />
    </form>
  </main>
</body>